raw/shr/SHR2013.TXT filter=lfs diff=lfs merge=lfs -text
raw/shr/SHR2016.TXT filter=lfs diff=lfs merge=lfs -text
raw/shr/2021_SHR_NATIONAL_MASTER_FILE.txt filter=lfs diff=lfs merge=lfs -text
raw/shr/SHRNKJ12.DAT filter=lfs diff=lfs merge=lfs -text
raw/shr/SHRwJ10.DAT filter=lfs diff=lfs merge=lfs -text
raw/shr/Supplementary[[:space:]]Homicide[[:space:]]Report[[:space:]]Records[[:space:]]Description[[:space:]]updated.xlsx filter=lfs diff=lfs merge=lfs -text
raw/shr/SHRNKJ07.DAT filter=lfs diff=lfs merge=lfs -text
raw/shr/shr-2018.txt filter=lfs diff=lfs merge=lfs -text
raw/shr/2017_SHR_NATIONAL_MASTER_FILE.txt filter=lfs diff=lfs merge=lfs -text
raw/shr/2019_SHR_NATIONAL_MASTER_FILE_STATIC.txt filter=lfs diff=lfs merge=lfs -text
raw/shr/SHR2000.DAT filter=lfs diff=lfs merge=lfs -text
raw/shr/SHR2001.DAT filter=lfs diff=lfs merge=lfs -text
raw/shr/SHR02.02 filter=lfs diff=lfs merge=lfs -text
raw/shr/SHRNKJ04.DAT filter=lfs diff=lfs merge=lfs -text
raw/shr/SHRNKJ11.DAT filter=lfs diff=lfs merge=lfs -text
raw/shr/SHR1995.DAT filter=lfs diff=lfs merge=lfs -text
raw/shr/SHR1997.DAT filter=lfs diff=lfs merge=lfs -text
raw/shr/SHR1998.DAT filter=lfs diff=lfs merge=lfs -text
raw/shr/SHR2015-COMB.txt filter=lfs diff=lfs merge=lfs -text
raw/shr/2020_SHR_NATIONAL_MASTER_FILE.txt filter=lfs diff=lfs merge=lfs -text
raw/shr/SHR1999.DAT filter=lfs diff=lfs merge=lfs -text
raw/shr/SHRNKJ03.DAT filter=lfs diff=lfs merge=lfs -text
raw/shr/SHRNKJ05.DAT filter=lfs diff=lfs merge=lfs -text
raw/shr/SHRNKJ14.DAT filter=lfs diff=lfs merge=lfs -text
raw/shr/SHR1996.DAT filter=lfs diff=lfs merge=lfs -text
raw/shr/SHRNKJ06.DAT filter=lfs diff=lfs merge=lfs -text
raw/shr/SHRNKJ08.DAT filter=lfs diff=lfs merge=lfs -text
raw/shr/SHRNKJ09.DAT filter=lfs diff=lfs merge=lfs -text
