{% from "macros.j2" import trend_description, detail_block %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>Homicide Data Report for {{ report.market_name }}</title>
        <meta name="description" content="Report for {{ report.market_name }}" />
        <meta name="keywords" content="{{ report.market_name }}" />
        <style>
      html,
      body {
        font-family: sans-serif;
        max-width: 793px;
        margin: auto;
      }

      #header-container {
        text-align: center;
      }

      #report-subtitle-text {
        font-size: 0.9em;
      }

      .text-worsened {
        color: #fd151b;
        font-weight: bold;
      }

      .text-improved {
        color: #849324;
        font-weight: bold;
      }

      .chart-wrapper {
          text-align: center;
      }

      .dataframe {
        margin: auto !important
      }

      .dataframe {
        font-family: Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
        }

        .dataframe td, .dataframe th {
        border: 1px solid #ddd;
        padding: 8px;
        }

        .dataframe tr:nth-child(even){background-color: #f2f2f2;}

        .dataframe tr:hover {background-color: #ddd;}

        .dataframe th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #1f77b4;
        color: white;
        }
        </style>
    </head>
    <body>
        <div id="main">
            <div id="header-container">
                <h1 id="report-title">Homicide Clearance Data Report for {{ report.market_name }}</h1>
                <div id="report-subtitle">
                    <span id="report-subtitle-text">
                        Generated by Chris Hacker on {{ report.generated_date }}. Please
                        contact him at
                        <a href="mailto:cmhacker@viacomcbs.com">cmhacker@viacomcbs.com</a>
                        with any questions.
                    </span>
                </div>
            </div>
            <div id="body-container">
                <div id="table-of-contents">
                    <h2>Table of Contents</h2>
                    <ol>
                        <li>
                            <a href="#data">Data</a>
                            <ol>
                                <li>
                                    <a href="#summary">Summary</a>
                                </li>
                                <li>
                                    <a href="#state-level-data">State-Level Data</a>
                                </li>
                                <li>
                                <a href="#metropolitan-statistical-area">Metropolitan Statistical Area</a
                                >
                            </li>
                            <li>
                                <a href="#individual-agencies">Individual Agencies</a>
                            </li>
                        </ol>
                    </li>
                    <li>
                        <a href="#definitions">Definitions</a>
                    </li>
                    <li>
                        <a href="#methodology">Methodology</a>
                    </li>
                </ol>
            </div>
            <div id="data">
                <h2>Data</h2>
                <div id="summary">
                    <h3>Summary</h3>
                    {% for agency_info in report.core_agencies %}
                        <p>
                            {{ trend_description(agency_info.agency_name.title(), report, agency_info) }}
                        </p>
                    {% endfor %}
                </div>
                <div id="state-level-data">{{ detail_block("State-Level Data", "the state", report, report.state) }}</div>
                <div id="metropolitan-statistical-area">
                    {{ detail_block("Metropolitan area", report.msa.msa_name, report, report.msa) }}
                </div>
                <div id="individual-agencies">
                    <h3>Individual Police Agencies</h3>
                    {% for agency_info in report.core_agencies %}
                        {{ detail_block(agency_info.agency_name.title(), agency_info.agency_name.title(), report, agency_info, "h4") }}
                    {% endfor %}
                </div>
                <div id="definitions">
                    <h2>Definitions</h2>
                    <ul>
                        <li></li>
                    </ul>
                </div>
                <div id="methodology">
                    <h2>Methodology</h2>
                    <p>
                        A full methodology and source code will be published at the
                        conclusion of this project. This section serves to provide
                        explanations of the basic process used to analyze this data so your
                        station can answer any questions that may arise from law enforcement
                        agencies.
                    </p>
                    <p>
                        If you have additional questions or get a question from an agency or
                        expert that you can't answer based on the information below,
                        <a href="mailto:cmhacker@viacomcbs.com">contact me</a>.
                    </p>
                    <h3>Data Source</h3>
                    <p>
                        blah blah blah
                    </p>
                    <h3>Data Preparation</h3>
                    <p>
                        blah blah blah
                    </p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
