{% from "macros.j2" import trend_description, detail_block %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>Homicide Data Report for {{ report.market_name }}</title>
        <meta name="description" content="Report for {{ report.market_name }}" />
        <meta name="keywords" content="{{ report.market_name }}" />
        <style>
            html,
            body {
                font-family: sans-serif;
                max-width: 750px;
                margin: auto;
            }

            #header-container {
                text-align: center;
            }

            #report-subtitle-text {
                font-size: 0.9em;
            }

            .text-worsened {
                color: #fd151b;
                font-weight: bold;
            }

            .text-improved {
                color: #849324;
                font-weight: bold;
            }

            .chart-wrapper {
                text-align: center;
            }

            .table-wrapper {
                margin: 5px 5px 10px 5px;
            }

            .dataframe {
                margin: auto !important;
            }

            .dataframe {
                font-family: Arial, Helvetica, sans-serif;
                border-collapse: collapse;
                width: 100%;
            }

            .dataframe td,
            .dataframe th {
                border: 1px solid #ddd;
                padding: 8px;
            }

            .dataframe tr:nth-child(even) {
                background-color: #f2f2f2;
            }

            .dataframe tr:hover {
                background-color: #ddd;
            }

            .dataframe th {
                padding-top: 12px;
                padding-bottom: 12px;
                text-align: left;
                background-color: #1f77b4;
                color: white;
            }

            .definition-item {
                margin-bottom: 15px;
            }

            .note {
                margin-left: 20px;
            }

            .italic {
                font-style: italic;
            }

            .alert {
                text-align: center;
                color: white;
                background-color: #ae2012;
                padding: 10px 0;
                border-radius: 10px;
                margin-left: 15%;
                margin-right: 15%;
                font-weight: bold;
            }

        </style>
    </head>
    <body>
        <div id="main">
            <div id="header-container">
                <h1 id="report-title">
                    {{ report.market_name|replace("_", " ")|title }} Homicide Clearance Data Report
                </h1>
                <div id="report-subtitle">
                    <span id="report-subtitle-text">
                        Generated by Chris Hacker on {{ report.generated_date }}. 
                        If there is a law enforcement agency you believe should be 
                        included in this report that is not, or if you have any other
                        questions, please contact him at 
                        <a href="mailto:cmhacker@viacomcbs.com">cmhacker@viacomcbs.com</a>.
                    </span>
                </div>
            </div>
            <div id="body-container">
                <div id="table-of-contents">
                    <h2>Table of Contents</h2>
                    <ol>
                        <li>
                            <a href="#definitions">Definitions</a>
                        </li>
                        <li>
                            <a href="#methodology">Methodology</a>
                        </li>
                        <li>
                            <a href="#data">Data</a>
                            <ol>
                                <li>
                                    <a href="#summary">Summary</a>
                                </li>
                                <li>
                                    <a href="#national-data">National data</a>
                                </li>
                                <li>
                                    <a href="#state-level-data">State-Level Data</a>
                                </li>
                                <li>
                                <a href="#metropolitan-statistical-area">Metropolitan Statistical Area</a
                                >
                            </li>
                            <li>
                                <a href="#individual-agencies">Individual Agencies</a>
                                <ol>
                                    {% for agency_info in report.agencies %}
                                        <li>
                                            <a href="#{{ agency_info.title.lower()|replace(" ", "-") }}">{{ agency_info.title.title() }}</a>
                                        </li>
                                    {% endfor %}
                                </ol>
                            </li>
                        </ol>
                    </li>
                </ol>
            </div>
                <div id="definitions">
                    <h2>Definitions</h2>
                    <div id="definitions">
                        <ul>
                            <li class="definition-item">
                                <b>Clearance</b>: The FBI defines "clearance" as a case that a
                                law enforcement agency has closed one of two ways: by arrest
                                or "exceptional means."
                                <div class="note">
                                    <p>
                                        Cleared by arrest means one or more arrests were made, the
                                        offender has been charged with the offense and the
                                        offender has been turned over to the court for
                                        prosecution.
                                    </p>
                                    <p>
                                        A case that is cleared by "exceptional means" is a case in
                                        which "elements beyond law enforcement's control prevent
                                        the agency from arresting and formally charging the
                                        offender." According to
                                    <a href="https://ucr.fbi.gov/crime-in-the-u.s/2013/crime-in-the-u.s.-2013/offenses-known-to-law-enforcement/clearances/clearancetopic_final"
                                       target="_blank">FBI guidelines</a
                                    >, police must have identified the offender, gathered
                                    enough evidence that they <i>could</i> have made an
                                    arrest, and identified the offender's exact location so
                                    they could be taken into custody if it weren't for those
                                    circumstances that prevented them from doing so.
                                </p>
                            </div>
                        </li>
                        <li class="definition-item">
                            <b>Clearance rate</b>: The number of new homicides that a law
                            enforcement agency reported in a given year, divided by the
                            number of homicides they cleared.
                            <p class="note">
                                <b>NOTE: </b> this is not the same as the percentage of
                                homicides in a given year that were actually solved. It can take months
                                or years for a homicide to be solved, so this "clearance rate" metric
                                is used instead.
                            </p>
                        </li>
                        <li class="definition-item">
                            <b>Metropolitan Statistical Area</b>: a geographic area
                            defined by the
                        <a href="https://www.census.gov/programs-surveys/metro-micro/about.html"
                           target="_blank">US Census Bureau</a
                        >
                        as place that has at least one urbanized area of 50,000 people
                        or more.
                    </li>
                    <li class="definition-item">
                        <b>Actual</b>: In this report, "Actual" refers to the total
                        number of homicides the agency reported.
                    </li>
                    <li class="definition-item">
                        <b>2015-2019 Average</b>: The average clearance rate for the
                        years 2015-2019.
                    </li>
                    <li class="definition-item">
                        <b>"CO SO"</b>: Some sheriff's departments are labeled in the
                        National Crime Information Center's data as "CO SO", i.e., 
                        "County Sheriff's Office."
                    </li>
                </ul>
            </div>
        </div>
        <div id="methodology">
            <h2>Methodology</h2>
            <p>
                A full methodology and source code will be published at the
                conclusion of this project. This section serves to provide
                explanations of the basic process used to analyze this data so
                your station can answer any questions that may arise from law
                enforcement agencies.
            </p>
            <p>
                If you have additional questions or get a question from an agency
                or expert that you can't answer based on the information below,
                <a href="mailto:cmhacker@viacomcbs.com">contact me</a>.
            </p>
            <h3>Data Source</h3>
            <p>
                Clearance rates were calculated using the FBI's "Return A" master
                files, which contain monthly totals of all offenses reported to
                each law enforcement agency in the country.
            </p>
            <h3>Data Preparation</h3>
            <p>
                The original data was contained in fixed-width text files
                containing one row per agency per month. The files were converted
                into a more modern .csv format and cleaned.
            </p>
            <h4>Agency selection</h4>
            <p>
                This analysis does not include all agencies that reported data to
                the FBI. Rather,
                <b >only agencies that reported at least one clearance in at least
                23 out of the 26 years analyzed in this report are included.</b
                >
                This is primarily because the data doesn't distinguish between
                agencies that actually cleared zero offenses and agencies that
                don't report clearance numbers at all. For example, the Chicago
                Police Department does not report any clearance data to the FBI,
                but it <i>does</i> report actual homicide numbers. This means that
                any calculation of clearance rates that includes that department
                will have a lower clearance rate than actually occurred.
            </p>
            <p class="note italic">
                For more information, see
            <a href="https://www.ojp.gov/pdffiles1/nij/grants/215343.pdf">Analysis of Missingness in UCR Crime Data</a
            >
            by Michael D. Maltz at the Criminal Justice Research Center at
            Ohio State University.
        </p>
    </div>
    <div id="data">
        <h2>Data</h2>
        <div id="summary">
            <h3>Summary</h3>
            {% for agency_info in report.agencies %}
                <p>
                    {{ trend_description(
                    agency_info.title.title(),
                    report,
                    agency_info
                    ) }}
                </p>
            {% endfor %}
        </div>
        <div id="national-data">
            {{ detail_block(
            "National Data",
            "the U.S.",
            report,
            report.national,
            subtitle="In the U.S., the overall homicide clearance rate fell to just over 50% in 2021."
            ) }}
        </div>
        <div id="state-level-data">
            {{ detail_block(
            "State-Level Data",
            "the state",
            report,
            report.state
            ) }}
        </div>
        <div id="metropolitan-statistical-area">
            {{ detail_block(
            "Metropolitan area",
            report.msa.title,
            report,
            report.msa
            ) }}
        </div>
        <div id="individual-agencies">
            <h3>Individual Police Agencies</h3>
            {% for agency_info in report.agencies %}
                {{ detail_block(
                agency_info.title.title(),
                agency_info.title.title(),
                report,
                agency_info,
                "h4"
                ) }}
            {% endfor %}
        </div>
</div>
</div>
</div>
</body>
</html>
