<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>Homicide Data Report for {{ report.market_name }}</title>
        <meta name="description" content="Report for {{ report.market_name }}" />
        <meta name="keywords" content="{{ report.market_name }}" />
        <style>
      html,
      body {
        font-family: sans-serif;
        max-width: 793px;
        margin: auto;
      }

      #header-container {
        text-align: center;
      }

      #report-subtitle-text {
        font-size: 0.9em;
      }

      .text-worsened {
        color: #fd151b;
        font-weight: bold;
      }

      .text-improved {
        color: #849324;
        font-weight: bold;
      }

      .chart-wrapper {
          text-align: center;
      }

      .dataframe {
        margin: auto !important
      }

      .dataframe {
        font-family: Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
        }

        .dataframe td, .dataframe th {
        border: 1px solid #ddd;
        padding: 8px;
        }

        .dataframe tr:nth-child(even){background-color: #f2f2f2;}

        .dataframe tr:hover {background-color: #ddd;}

        .dataframe th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #04AA6D;
        color: white;
        }
        </style>
    </head>
    <body>
        <div id="main">
            <div id="header-container">
                <h1 id="report-title">Homicide Clearance Data Report for {{ report.market_name }}</h1>
                <div id="report-subtitle">
                    <span id="report-subtitle-text">
                        Generated by Chris Hacker on {{ report.generated_date }}. Please
                        contact him at
                        <a href="mailto:cmhacker@viacomcbs.com">cmhacker@viacomcbs.com</a>
                        with any questions.
                    </span>
                </div>
            </div>
            <div id="body-container">
                <div id="table-of-contents">
                    <h2>Table of Contents</h2>
                    <ol>
                        <li>
                            <a href="#data">Data</a>
                            <ol>
                                <li>
                                    <a href="#summary">Summary</a>
                                </li>
                                <li>
                                    <a href="#state-level-data">State-Level Data</a>
                                </li>
                                <li>
                                <a href="#metropolitan-statistical-area">Metropolitan Statistical Area</a
                                >
                            </li>
                            <li>
                                <a href="#individual-agencies">Individual Agencies</a>
                            </li>
                        </ol>
                    </li>
                    <li>
                        <a href="#definitions">Definitions</a>
                    </li>
                    <li>
                        <a href="#methodology">Methodology</a>
                    </li>
                </ol>
            </div>
            <div id="data">
                <h2>Data</h2>
                <div id="summary">
                    <h3>Summary</h3>
                    {% for agency_info in report.core_agencies %}
                        <p>
                            In 2020, the clearance rate for
                            {{ agency_info.agency_name.title() }}
                            {% if agency_info.clearance_rate_2020_change > 0 %}
                                <span class="text-improved">rose</span>
                            {% else %}
                                <span class="text-worsened">fell</span>
                            {% endif %}
                            to {{ agency_info.clearance_rate_2020 }}% compared to
                            the previous 5 years. That's
                            {{ agency_info.compared_to_national | abs }}%
                            {% if agency_info.compared_to_national > 0 %}
                                <span class="text-improved">greater</span>
                            {% else %}
                                <span class="text-worsened">less</span>
                            {% endif %}
                            than the national average of
                            {{ report.national_clearance_rate }}%.
                        </p>
                    {% endfor %}
                </div>
                <div id="state-level-data">
                    <h3>State-Level Data</h3>
                    Statewide, the 2020 clearance rate was
                    {{ report.state.clearance_rate_2020 }}%. That's {{ report.state.compared_to_national|abs }}%
                    {% if report.state.compared_to_national > 0 %}
                        <span class="text-improved">greater</span>
                    {% else %}
                        <span class="text-worsened">less</span>
                    {% endif %}
                    than the national average of {{ report.national_clearance_rate }}%.
                    <div class="chart-wrapper">{{ report.state.plot_svg }}</div>
                    <div class="table-wrapper">{{ report.state.table_html }}</div>
                </div>
            </div>
            <div id="definitions">
                <h2>Definitions</h2>
                <ul>
                    <li></li>
                </ul>
            </div>
            <div id="methodology">
                <h2>Methodology</h2>
                <p>
                    A full methodology and source code will be published at the
                    conclusion of this project. This section serves to provide
                    explanations of the basic process used to analyze this data so your
                    station can answer any questions that may arise from law enforcement
                    agencies.
                </p>
                <p>
                    If you have additional questions or get a question from an agency or
                    expert that you can't answer based on the information below,
                    <a href="mailto:cmhacker@viacomcbs.com">contact me</a>.
                </p>
                <h3>Data Source</h3>
                <p>
                    blah blah blah
                </p>
                <h3>
                    Data Preparation
                </h3>
                <p>
                    blah blah blah
                </p>
            </div>
        </div>
    </div>
</body>
</html>
